.address-item {
  padding: 18px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fafafa;
  margin-bottom: 16px;
}

.address-item h4 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 6px;
}

.address-buttons {
  margin-top: 10px;
}

.address-btn {
  padding: 8px 12px;
  background: #fc9510;
  color: white;
  border: none;
  border-radius: 6px;
  margin-right: 8px;
  font-size: 14px;
}
