.mypage-sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #eee;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mypage-sidebar h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.mypage-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mypage-sidebar li {
  padding: 6px 0;
}

.mypage-sidebar a {
  color: #333;
  text-decoration: none;
}

.mypage-sidebar a:hover {
  color: #fc9510;
  font-weight: bold;
}
