.mypage-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.mypage-intro {
  font-size: 15px;
  color: #777;
}
.mypage-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  text-align: center; /* ⬅️ 가운데 정렬 */
}