.order-detail-box {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 25px;
  background: #fafafa;
}

.order-detail-box h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.order-product-item {
  display: flex;
  gap: 20px;
  padding: 15px 0;
  border-top: 1px solid #eee;
}

.order-product-item img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
