.review-item {
  padding: 18px;
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 16px;
}

.review-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 6px;
}

.review-content {
  color: #555;
  font-size: 14px;
}
