.card {
  width: 260px;
  cursor: pointer;
}

.card-image-wrapper {
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-brand {
  color: #999;
  font-size: 13px;
  margin-bottom: 4px;
}

.card-title {
  font-size: 15px;
  margin-bottom: 6px;
  color: #333;
  line-height: 1.3;
}

.card-price-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 5px;
}

.discount-rate {
  color: #35c5f0;
  font-weight: 700;
  font-size: 17px;
}

.discount-price {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.original-price {
  font-size: 13px;
  text-decoration: line-through;
  color: #aaa;
  margin-bottom: 6px;
}

.rating-row {
  font-size: 13px;
  color: #666;
  display: flex;
  gap: 6px;
}
.card-image:hover{
  transform: scale(1.1);
}
