.product-tabs {
  display: flex;
  gap: 35px;
  max-width: 1280px;
  margin: 50px auto 0;
  padding: 12px 20px 8px;
  border-bottom: 2px solid #f0f0f0;
  font-size: 18px;
  font-weight: 500;
}

.product-tabs div {
  cursor: pointer;
  position: relative;
  padding-bottom: 12px;
  color: #666;
}

.product-tabs .active {
  color: #fc9510;
}

.product-tabs .active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fc9510;
  border-radius: 2px;
}
