.product-detail-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {
  flex: 1;
}

.product-main-img {
  width: 100%;
  border-radius: 10px;
}

.right-section {
  width: 380px;
}
.detail-sub-images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.detail-sub-img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid #ddd;
}

