/* 사이드바 영역 고정 */
.category-sidebar {
  width: 240px;
  flex-shrink: 0; /* 오른쪽 콘텐츠가 커져도 사이드바 안눌림 */
  padding: 20px 10px;
  border-right: 1px solid #eee;
  background: #fff;
}

/* 제목 */
.category-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* 카테고리 전체 리스트 */
.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 각 카테고리 wrapper */
.category-wrapper {
  margin-bottom: 10px;
}

/* 대분류 버튼 */
.category-item {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 5px;
  font-size: 16px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #333;
  transition: 0.2s;
}

.category-item:hover {
  background: #f9f9f9;
}

.category-item.active {
  font-weight: 700;
  color: #fa7020;
}

/* 서브카테고리 리스트 */
.subcategory-list {
  list-style: none;
  padding-left: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.subcategory-item {
  padding: 6px 5px;
  font-size: 14px;
  cursor: pointer;
  color: #555;
}

.subcategory-item:hover {
  color: #fa7020;
}

/* 화살표 */
.arrow {
  font-size: 12px;
  color: #888;
}

/* 밀리는 문제 해결 */
.shop-container {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 30px auto;
  gap: 40px;
  align-items: flex-start;
}
