.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 1줄에 4개 */
  gap: 25px;
  padding: 20px;
}

.product-card {
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
  border: 1px solid #eee;
}

.product-card:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

.card-image {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f09d20;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.card-info {
  padding: 12px;
}

.brand {
  font-size: 13px;
  color: #777;
  margin-bottom: 3px;
}

.name {
  font-size: 14px;
  height: 38px;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 8px;
}

.price-wrap {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 6px;
}

.discount {
  font-size: 18px;
  font-weight: 700;
  color: #ee892b;
}

.price {
  font-size: 18px;
  font-weight: 700;
}

.rating {
  font-size: 13px;
  color: #555;
}


.no-products {
  width: 100%;
  height: 300px;           /* 영역 높이를 주면 정중앙 정렬 가능 */
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center;      /* 세로 중앙 */
  font-size: 18px;
  font-weight: 500;
  color: #777;
}


