.product-manage-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 전체 가운데 정렬 */
}

/* 헤더 영역 (제목 + 등록 버튼) */
.product-manage-header {
  width: 90%;
  display: flex;
  justify-content: space-between; /* 제목 왼쪽 / 버튼 오른쪽 */
  align-items: center;
  margin-bottom: 25px;
}

/* 오른쪽 고정된 등록 버튼 */
.add-product-btn {
  background: #fc9510;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* 필터 영역도 폭 맞추기 */
.product-filter-box {
  width: 90%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* 테이블은 가운데 정렬 */
.product-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}


.product-table th {
  background: #f5f5f5;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.product-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.product-name-link {
  color: #333;
  cursor: pointer;
  font-weight: 600;
}

.product-name-link:hover {
  text-decoration: underline;
}

.delete-btn {
  padding: 5px 10px;
  background: #ff5b5b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.admin-layout {
  display: flex;
}

.admin-layout > .admin-sidebar {
  width: 250px; 
  flex-shrink: 0;
}

.product-manage-wrapper {
  flex: 1;
  padding: 30px;
}
