.qna-detail-container {
  width: 70%;
  margin: 40px auto;
}

.qna-detail-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.qna-detail-info {
  color: #666;
  margin-bottom: 20px;
}

.qna-detail-content {
  font-size: 18px;
  margin-bottom: 20px;
}

.qna-detail-images {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.qna-detail-img {
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.qna-detail-buttons button {
  margin-right: 10px;
  padding: 8px 15px;
}
